body{

    font-family: 'Red Hat Display', sans-serif;
    background-color: hsl(225, 100%, 94%);
    margin: 0;
    padding: 0;
}
.container{
    margin: auto;
    text-align: center;
    width: 350px;
    border-radius: 15px;
    background-color: white;
    margin-top: 50px;
}


.hero{
    width: 100%;
    border-radius: 15px 15px 0 0;

}

.container .mainarea{
    padding: 10px;
}
.container h2{
    font-weight: 700;
    font-family: 'Red Hat Display', sans-serif;
    color: hsl(223, 47%, 23%);

}

.container p:nth-child(2){

    line-height: 25px;
    color:hsl(224, 23%, 55%);
}


.container p:nth-child(4){
    color:white;
    font-weight: 900;
    padding: 20px;
    margin-left: 10px; 
    margin-right: 10px;
    background-color: hsl(245, 75%, 52%);
    border-radius: 15px;
    box-shadow: 0px 25px 30px hsl(225, 100%, 94%);

}

.container p:nth-child(4):hover{
 opacity: 0.6;
}

.container p:nth-child(5){
    color:hsl(224, 23%, 55%);
    font-weight: 900;
}


.container p:nth-child(5):hover{
  color: hsl(223, 47%, 23%);
}

a:hover{
    opacity: 0.6;
}


.pricing{
    background-color: hsl(225, 100%, 98%);
    padding: 10px;
    border-radius: 15px;
    margin-left: 10px; 
    margin-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}


h4{
    color: hsl(223, 47%, 23%);

}



.pricing span{
    font-weight: 500;
    color:hsl(224, 23%, 55%);
    display: block;
}

.info{
    margin-right: 50px;
}
